# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/

# Environment
.env
.env.*
*.env

# Logs
*.log

# Node (if any)
node_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
__pycache__/
linkedin_storage_state.json
extracted_data/

*.pdf

#sqlite
*.sqlite
*.sqlite-shm
*.sqlite-wal